// -webkit-font-smoothing: antialiased;
//     moz-osx-font-smoothing: grayscale;
//     font: normal normal 16px/150% 'Lato-Regular', 'Helvetica', sans-serif;

 
@font-face {
  font-family: 'AhoyAmigo-DEMO';
  src: url(../fonts/ahoy_amigo/AhoyAmigo-DEMO.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Poppins Black';
  src: url(../fonts/Poppins/PPoppins-Black.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Poppins BlackItalic';
  src: url(../fonts/Poppins/Poppins-BlackItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
@font-face {
  font-family: 'Poppins Bold';
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Poppins BoldItalic';
  src: url(../fonts/Poppins/Poppins-BoldItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Poppins ExtraBold';
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins ExtraLight';
  src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins ExtraLightItalic';
  src: url(../fonts/Poppins/Poppins-ExtraLightItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins Italic';
  src: url(../fonts/Poppins/Poppins-Italic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins Light';
  src: url(../fonts/Poppins/Poppins-Light.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins LightItalic';
  src: url(../fonts/Poppins/Poppins-LightItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins Medium';
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins MediumItalic';
  src: url(../fonts/Poppins/Poppins-MediumItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:   grayscale;
}
@font-face {
  font-family: 'Poppins Regular';
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins SemiBold';
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins SemiBoldItalic';
  src: url(../fonts/Poppins/Poppins-SemiBoldItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins ThinItalic';
  src: url(../fonts/Poppins/Poppins-ThinItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Poppins Thin';
  src: url(../fonts/Poppins/Poppins-Thin.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}