.recommendation {

    &--slide {
        margin-bottom: $spacing-xxlg;

        .swiper-pagination-bullet-active {
            background: $primary-color;
            width: $spacing-sm;
            height: $spacing-sm;
        }


    }

    &--card {
        position: relative;

        &:before {
            content: "";
            width: 100%;
            height: $spacing-xxxlg;
            padding: 23.6px 81px 12.6px 23px;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.53));
            position: absolute;
            bottom: 0;
            z-index: 1;
        }

        &--content {
            width: 100%;
            position: absolute;
            bottom: 0;
            color: $white;
            z-index: 2;
            padding: 0 $spacing-lg $spacing-lg;

            small {
                line-height: 1;
            }

            i {
                font-size: $xxsmall;
                margin-right: $spacing-xs;
            }
        }

        &.no-image {
            .recommendation--card--content {
                color: $black;
                position: relative;
                text-align: center;
                padding: 2rem 5rem 0;
            }

            &:before {
                display: none;
            }
        }
    }

    &--img {
        width: 100%;
        height: torem(300);
        object-fit: cover;
    }

    &--author {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        padding-top: $spacing-xlg;

        img {
            height: torem(66);
            width: torem(66);
            object-fit: cover;
            margin-right: $spacing-lg;
        }

        h4 {
            margin-bottom: 0;
            line-height: 1;
        }
    }
}

.recommendation--slide2 {
    max-width: torem(900);

    .swiper-button-next {
        top: 40%;
        color: $primary-color;
        &:after{
            font-size: torem(25);
        }
    }

    .swiper-button-prev {
        top: 40%;
        color: $primary-color;
        left: 2.3rem;
        &:after{
            font-size: torem(25);
        }
    }

    .swiper-wrapper {}
}